<%- include('../partials/header') %>

<div class="box">    
  <h1>Flight Manifest</h1>
  <table>
    <thead>
      <tr>
        <th>Delete</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departure</th>
        <th>Flight Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- Write the line of EJS to iterate over movies using forEach -->
      <% flightDocs.forEach(function(f) { %>
        <tr>
          <td>
            <form action="/flights/<%= f._id %>?_method=DELETE"
              method="POST" class="delete-form"
              >
            <button type="submit">X</button>
            </form>
          </td>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><%= f.status ? 'Departed' : 'On Time' %></td>
          <td><a href="/flights/<%=f._id%>">Details</a></td>
          
        </tr>
      <!-- Close the forEach using EJS here -->
      <% }); %>
    </tbody>
  </table><br>
  <a href="/flights/new">Add New Flight</a>
</div>
<%- include('../partials/footer') %>