  
<%- include('../partials/header') %>
<div class="boxtwo">
  <h1>Flight Information</h1>
<section id="show-page">
  
  <div>Airport: <%= flight.airport %></div>
  <div>Airline: <%= flight.airline %></div>
  <div>Flight No.: <%= flight.flightNo %></div>
  <div>Departure: <%= flight.departs %></div>
  <div>Flight Status: <%= flight.status ? 'Departed' : 'On Time' %></div>
</section>
<br>
</div>
<div class="boxtwo">
<h1>Ticketing</h1>
<% if (ticket.length) { %>
<table>
    <thead>
        <tr>
            <th>Seat Number</th>
            <th>Price</th>
            
        </tr>
    </thead>
    <tbody>
        <% ticket.forEach(function(t) { %>
        <tr>
            <td><%= t.seat %></td>
            <td>$<%= t.price %></td>
        </tr>
        <% }); %>
    </tbody>
    
</table>
<% } else { %>
<h5>No Tickets Yet</h5>
<% } %>
<br>
<a href="/flights/<%= flight._id %>/tickets/new">Add Tickets</a>
</div>


<div class="boxtwo">
  <h1>Destinations</h1>
<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Delete</th>
        <th>Destination Airport</th>
        <th>Arrival</th>
        
      </tr>
    </thead>
    <tbody>
      
      <% flight.destinations.forEach(function(f) { %>
        <tr>
          <form action="/flights/<%= f._id %>/<%= flight._id %>?_method=DELETE"
            method="POST" class="delete-form"
            >
          <td><button type="submit">X</button></td>
          </form>
            <td><%= f.airport %></td>
          <td><%= f.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  
  <h5>No Destinations Yet</h5>
<% } %>

 <form id="add-destination-form" method="POST"
   action="/flights/<%= flight._id %>/destinations">
   <label>Destination Airport:</label>
   <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label for="arrival date">Arrival Date:
    <input type="datetime-local" name="arrival" value="<%= departsDate %>">
  </label>
  <input type="submit" value="Add Destination">
 </form>
</div>
<%- include('../partials/footer') %>